<div class="container my-5">
    <form class="was-validated" #form="ngForm" (ngSubmit)="changePassword()">
        <div class="mb-3">
            <label class="form-label text-primary" for="currentPassword">Текуща парола</label>
            <input required type="password" class="form-control text-primary" id="currentPassword" name="currentPassword" [(ngModel)] = "userPassword.currentPassword">
        </div>
        <div class="mb-3">
            <label class="form-label text-primary" for="newPassword">Нова парола</label>
            <input required type="password" class="form-control text-primary" id="newPassword" name="newPassword" [(ngModel)] = "userPassword.newPassword">
        </div>
        <div class="mb-3">
            <label class="form-label text-primary" for="confirmPassword">Потвърдете паролата</label>
            <input required type="password" class="form-control text-primary" id="confirmPassword" name="confirmPassword" [(ngModel)] = "confirmPassword">
        </div>
        <div class="mb-3 text-danger" *ngIf="!isPasswordConfirmed">Паролите несъвпадат</div>
        <div class="mb-3 text-danger" *ngIf="!isPasswordValid">Грешна парола</div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><button type="submit" class="btn btn-primary" *ngIf="isDataValid()">Запази</button></td>
                        <td><button type="button" class="btn btn-primary" (click)="onCancel()">Отказ</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>