/Debug
/x64
/Release
/EmployeesManagementAssistant/Debug
/EmployeesManagementAssistant/x64
/EmployeesManagementAssistant/Release
/EmployeesManagementAssistantSetup/Debug
/EmployeesManagementAssistantSetup/x64
/EmployeesManagementAssistantSetup/Release